body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('images/farmbg.avif'); /* Replace 'background.jpg' with your image file path */
    background-size: cover; /* Adjust this as needed */
    background-repeat: no-repeat;
    background-position: center;
}

body::before {
  content: "";
  background: rgba(0, 0, 0, 0.5); /* Adjust the alpha value (0.5) for the desired darkness */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
  
  .memory-game {
    display: grid;
    grid-template-columns: repeat(4, 150px); /* Set the card width to 150px */
    grid-template-rows: repeat(4, 150px); /* Set the card height to 150px */
    grid-gap: 20px; /* Add a 20px gap between the cards */
    width: 700px; /* Adjust the width based on the number of columns, card size, and gaps */
    height: 700px; /* Adjust the height based on the number of rows, card size, and gaps */
    place-items: center; /* Center the grid both horizontally and vertically */
    padding-left:4%;
  }
  
  .memory-card {
    width: 150px;
    height: 150px;
    position: relative;
    transform-style: preserve-3d;
    background-color: #000;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 0 10px white; /* Add a white outline */
}
  
  .memory-card.flip {
    transform: rotateY(180deg);
  }
  
  .memory-card img {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    border-radius: 10px;
  }
  
  .front-face {
    transform: rotateY(0deg);
  }
  
  .back-face {
    transform: rotateY(180deg);
    background-color: #fff;
  }
  
/* Styles for the modal overlay */
.modal-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal {
    background-color: #fff;
    border-radius: 10px;
    width: 640px;
    max-height: 640px;
    text-align: center;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }
  
  .winner {
    font-size: 24px;
    color: #22cc22;
    margin-bottom: 20px;
  }
  
  .restart {
    background-color: #22cc22;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
  }
  
  .restart:hover {
    background-color: #1a9c1a;
  }
  