
/* Light Mode */
[data-bs-theme="light"] {
    --bs-body-color: var(--bs-black);
    --bs-body-color-rgb: #{to-rgb($black)};
    --bs-body-bg: var(--bs-white);
    --bs-body-bg-rgb: #{to-rgb($white)};
    --bs-tertiary-bg: #{$blue-600};
    
    .dropdown-menu { 
        background-color: white; 
    }
    
    .darkgreencontainer{
        background-color: #103315;
        color: white;
    }
    .greencontainer{
        background-color: #41804F;
        color: white;
    }
    .lightgreencontainer{
        background-color: #74b9a0;
        color: white;
    }
    .whitecontainer{
        background-color: white;
        color: #103315;
    }
    
    .navbar-top{
        background-color: white;
    }

    .navbar .nav-link{
        color: #000;
    }
    
    .navbar .nav-link:hover{
        color: #41804f;
    }
    
    .nav-top:hover{
        color: #74b9a0;
    }
    
    .nav-link{
        color: white;
    }
    
    .nav-top:focus{
        color: white;
    }
    
    .btn-success-outline{
        color: white;
    }
    .btn-success-outline:hover{
        color: #74b9a0;
    }
    .btn-success-outline:focus{
        color: white;
    }
    .container-payment{
        border: 10px solid;
        background-color: white;
        border-color: #74B9A0;
        border-radius: 1.5rem;
        color: black;
    }
    /* home.html styling */
    /* This style helps the carousel hover colour functionality */
    .hover {
    color: #0000;
    background: 
        linear-gradient(90deg,#41804F 50%,black 0) 
        var(--_p,100%)/200% no-repeat;
    -webkit-background-clip: text;
            background-clip: text;
    transition: .4s;
    }
    .hover:hover {
    --_p: 0%;
    }
    .btn-outline-light {
        color: #0000;
        border-width: 2px;
        font-weight: bold;
        border-color: black;
        background: 
            linear-gradient(90deg,#41804F 50%,black 0) 
            var(--_p,100%)/200% no-repeat;
        -webkit-background-clip: text;
                background-clip: text;
        transition: .4s;
        }
        .btn-outline-light:hover {
        --_p: 0%;
        border: 2px solid #41804F
        }
    /* end home.html styling */
    .tab {
        display: flex;
        width: 80%;
        margin: 0 auto; 
        padding: 0;
        background-color: #41804F;
        border-radius: 5px;
    }
    
    .tab button {
        flex: 1; 
        padding: 10px 20px;
        background-color: transparent; /* Transparent background */
        border: none;
        cursor: pointer;
        color: #fff;
        text-align: center;
        font-size: 16px;
        position: relative;
    }
    
    .tab button::after {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        width: 1px; 
        background-color: #fff; 
    }
    
    .tab button:last-child::after {
        display: none;
    }
    
    .tab button:hover {
        background-color: #103315;
        transition: background-color 0.3s; 
    }
    
    /* Video card styling */
    
    .row {
      display: flex;
      flex-wrap: wrap;
    }

    
    .video-card {
      position: relative;
      overflow: hidden;
      padding-bottom: 75%; /* Maintain aspect ratio for the card */
      background: url(images/education/thumbnail1.JPG);
      background-size: cover;
      background-position: center bottom;
      background-repeat: no-repeat;
    }
    
    
    .video-card:hover .hover {
      opacity: 1;
    }
    
    .video-card .hover {
      cursor: pointer;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      opacity: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 3rem;
      background: rgba(0, 0, 0, 0.75);
      transition: opacity 0.4s;
    }
    
    .video-card .video-title {
      opacity: 1;
      background: rgba(0, 0, 0, 0.5);
      bottom: 0;
      left: 0;
      right: 0;
      cursor: pointer;
      transition: opacity 0.4s;
    }
    
    .video-card:hover .video-title {
      opacity: 0;
    }
    
    .play-icon {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      opacity: 0;
      transition: opacity 0.4s;
      width: 10%;
      height: 20%;
    }
    
    .video-card:hover .play-icon {
      opacity: 1;
    }
    
    /* Font size adjustments */
    
    @media (min-width: 575px) {
      .small {
          font-size: 14px; /* Adjust font size for larger screens */
      }
    }
    
    @media (min-width: 992px) {
      .small {
          font-size: 12px; /* Further adjust font size for even larger screens */
      }
    }
    
    /* styling gamecard */
    /* Video card styling */
    
    .row {
      display: flex;
      flex-wrap: wrap;
    }
    
    .game-card {
      position: relative;
      overflow: hidden;
      padding-bottom: 75%; /* Maintain aspect ratio for the card */
      background: url(images/education/memorybg.jpg);
      background-size: cover;
      background-position: center bottom;
      background-repeat: no-repeat;
    }
    .game-card2 {
      position: relative;
      overflow: hidden;
      padding-bottom: 75%; /* Maintain aspect ratio for the card */
      width:1600px;
      height:200px;
      background-color:grey;
    }
    
    .moretext{
      text-align:center;
      padding:20%
    }
    
    
    .game-card:hover .hover {
      opacity: 1;
    }
    
    .game-card .hover {
      cursor: pointer;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      opacity: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 3rem;
      background: rgba(0, 0, 0, 0.75);
      transition: opacity 0.4s;
    }
    
    
    .start-icon {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      opacity: 0;
      transition: opacity 0.4s;
      width: 40%;
      height: 50%;
    }
    
    .game-card:hover .start-icon {
      opacity: 1;
    }
    
    /* Font size adjustments */
    
    @media (min-width: 575px) {
      .small {
          font-size: 14px; /* Adjust font size for larger screens */
      }
    }
    
    @media (min-width: 992px) {
      .small {
          font-size: 12px; /* Further adjust font size for even larger screens */
      }
    }
    
    
    /* styling quizcard */
    
    #Quiz {
      position: relative;
      margin-bottom: 1%;
      width: 89%;
      margin:auto;
    }
    
    #quizDescription {
      padding: 10px 20px;
      text-align: center;
      font-size: 16px;
      cursor: pointer;
      border-radius: 5px;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-image: url('images/education/quizbg.jpg'); /* Set the background image */
      background-size: cover; /* Cover the container with the background image */
      background-position: center; /* Center the background image */
      color: white;
      width: 100%;
      height: 400px;
      margin-top: 20px;
      margin-bottom: 20px;
      position: relative;
    }
    
    /* Styles for content within quizDescription */
    #quiz-heading h2 {
      margin: 0;
    }
    
    #quiz-paragraph p {
      margin: 20px;
      margin-bottom: 70px;
      font-size: 18px;
    }
    
    /* Button styling */
    #startQuizButton {
      background-color: #41804F;
      color: white;
      padding: 10px 20px;
      font-size: 16px;
      border: none;
      cursor: pointer;
      border-radius: 5px;
      position: absolute;
      bottom: 50px;
      left: 50%;
      transform: translateX(-50%);
      z-index: 1;
    }
    
    #startQuizButton:hover {
      background-color: #103315;
    }
    
    /* Media queries for responsive design */
    @media (max-width: 992px) {
      #quizDescription {
        width: 90%; /* Reduce the width for screens less than 992px */
      }
    
      #quiz-paragraph p {
        font-size: 16px; /* Reduce the font size for screens less than 992px */
      }
    }
    
    @media (max-width: 552px) {
      #quizDescription {
        width: 100%; /* Full width for screens less than 552px */
      }
    
      #quiz-paragraph p {
        font-size: 14px; /* Further reduce the font size for screens less than 552px */
        margin-bottom: 50px; /* Adjust the margin as needed */
      }
    }
    /* styling explore cards */
    #explore-cards {
      margin: auto;
      width: 80%;
    }
    
    .ecards-container {
      display: grid;
      grid-template-columns: 1fr; /* Default to a single column layout */
      gap: 5rem; /* Add some gap between cards */
    }
    
    .ecards {
      display: flex;
      flex-wrap: wrap;
      list-style: none;
      margin: 0;
      padding: 0;
    }
    
    .ecards_item {
      display: flex;
      padding-bottom: 2rem;
      width: 80%; /* Use 100% width for consistent card width */
    }

    .ecards_item img {
        border-radius: 0; /* Remove any border-radius on images inside the cards */
        display: block; /* Ensure images take up the entire card space */
        width: 100%; /* Make the images take the full width of the parent container */
        height: 100%; /* Make the images take the full height of the parent container */
      }
    
    
    
    /* Media query for 992px and above */
    @media (min-width: 992px) {
        .ecards_item {
            width: 50%; /* Two columns */
        }
        }
    
    /* Media query for 575px and below */
    @media (max-width: 575px) {
    .ecards_item {
        width: 100%; /* One column */
    }
    }
    
    .explorecontainer {
      display: flex;
      justify-content: center;
      height: auto;
      margin:auto;
    }
    
    .img-wrapper, .img-detail {
      position: relative;
      width: 400px;
      height: 400px;
    }
    
    .img-wrapper {
      box-shadow: 0 30px 20px -20px rgba(0, 0, 0, 0.8);
      overflow: hidden;
      padding: 20px;
    }
    
    .img-detail {
        position: absolute;
        top: 301px; 
        left: 0;
        right: 0; 
        padding: 1.8rem;
        background: rgb(255, 255, 255);
        transition: top 0.4s;
        display: flex;
        flex-direction: column; 
        align-items: center; 
      }
    
    .img-detail .content {
        flex-grow: 1; /* Grow to take available vertical space */
        text-align: center;
    }
    
    .img-detail .content button {
        margin-top: 1rem; /* Add some top margin to center the button vertically */
        /* Other button styles */
    }
    
    .img-wrapper:hover > .img-detail {
        top: 0;
        transition: top 0.4s;
    }
    
    .img-wrapper:hover > .img-detail {
        top: 0;
        transition: top 0.4s;
    }
    
    .header {
      display: flex;
    }
    
    
    .ecard_btn {
        position: relative;
        bottom: 10px;
        left: 50%;
        transform: translateX(-50%);
        padding: 15px 30px;
        font-size: 18px;
        background-color: transparent;
        color: #000000;
        font-size: 20px;
        border: 1px solid #000000;
        transition: all 0.3s;
      }
    
    .card_btn:hover {
        border: 2px solid #008756; 
        color: #008756; 
        background-color: transparent;; 
    }
    
    .ecard_btn:hover {
      border: 2px solid #008756; 
      color: #008756; 
      background-color: transparent;; 
    }

    
    
    /* Style the tab buttons */
    .tab {
        display: flex;
        width: 100%;
        margin: 0;
        padding: 0;
        background-color: #41804F; /* Background color for the entire tab container */
        border-radius: 5px; /* Optional: Add rounded corners to the tab container */
    }
    
    /* Style the tab buttons */
    .tab button {
        flex: 1; /* Distribute the available space equally among tab buttons */
        padding: 10px 20px;
        background-color: transparent; /* Transparent background */
        border: none;
        cursor: pointer;
        color: #fff;
        text-align: center;
        font-size: 16px;
        position: relative;
    }
    
    /* Add a divider between the tab buttons */
    .tab button::after {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        width: 1px; /* Width of the divider */
        background-color: #fff; /* Color of the divider */
    }
    
    /* Style the last button to remove the divider */
    .tab button:last-child::after {
        display: none;
    }
    
    /* Add hover effect for the buttons */
    .tab button:hover {
        background-color: #103315; /* Background color when hovered */
        transition: background-color 0.3s; /* Smooth transition */
    }
    }
    /* End Light Mode */


img{
    border-radius: 15px;
}