/*Tab Styling*/

.tab {
    display: flex;
    width: 80%;
    margin: 0 auto; 
    padding: 0;
    background-color: #41804F;
    border-radius: 5px;
}

.tab button {
    flex: 1; 
    padding: 10px 20px;
    background-color: transparent; /* Transparent background */
    border: none;
    cursor: pointer;
    color: #fff;
    text-align: center;
    font-size: 16px;
    position: relative;
}

.tab button::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 1px; 
    background-color: #fff; 
}

.tab button:last-child::after {
    display: none;
}

.tab button:hover {
    background-color: #103315;
    transition: background-color 0.3s; 
}

/* Video card styling */

.video-card {
  overflow: hidden;
  padding-bottom: 75%;
}
@media(min-width: 768px) {
  .video-card {
    padding-bottom:50%;
  }
}
.video-card .hover {
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  background: rgba(0,0,0,0.75);
  transition: opacity 0.4s;
}
.video-card:hover .hover {
  opacity: 1;
}

.video-card .video-title {
  opacity: 1;
  background: rgba(0,0,0,0.5); 
  bottom: 0; 
  left: 0; 
  right: 0;
  cursor: pointer;
  transition: opacity 0.4s;
}
.video-card:hover .video-title {
  opacity: 0;
}

.play-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.4s;
    width: 10%; 
    height: 20%;
  }
  
  .video-card:hover .play-icon {
    opacity: 1;
  }

/* styling gamecard */
.game-card {
  overflow: hidden;
  padding-bottom: 10%; /* Adjust this value to make the card 10% of its original size */
  background: url(images/education/memorybg.png); /* Replace with your game's background image */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.game-card::before {
  content: "";
  background: rgba(0, 0, 0, 0.5); /* Adjust the alpha value (0.5) for the desired darkness */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.game-title {
  opacity: 1;
  background: rgba(0, 0, 0, 0.4);
  bottom: 0;
  left: 0;
  right: 0;
  cursor: pointer;
  transition: opacity 0.4s;
}

.game-card:hover .game-title {
  opacity: 0;
}

.start-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.4s;
  width: 10%;
  height: 100%;
}

.game-card:hover .start-icon {
  opacity: 1;
}

/* styling quizcard */

#Quiz {
  position: relative; /* Required for positioning children */
}

#quizDescription {
  /* Style for the quizDescription container */
  padding: 10px 20px;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url('images/education/quizbg.jpg') no-repeat center center;
  background-size: contain;
  color: white;
  width: 80%;
  height: 400px;
  margin-top: 20px;
  margin-bottom: 0px;
  position: relative;
}

/* Styles for content within quizDescription */
#quiz-heading h2 {
  margin: 0;
}

#quiz-paragraph p {
  margin: 20px;
  margin-bottom: 70px;
  font-size: 18px;
}


#startQuizButton {
  background-color: #41804F;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  position: absolute;
  bottom: 50px; /* Adjust the position as needed */
  left: 50%; /* Horizontally center the button */
  transform: translateX(-50%); /* Center horizontally relative to its container */
  z-index: 1; /* Ensure the button is on top of other content */
}

#startQuizButton:hover {
  background-color: #103315;
}

#quizFrame{
  width:80%;
  margin: auto;
  min-height: 500px;
}

/* styling explore cards */
#explore-cards{
  margin:auto;
  width:80%;
}
.ecards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.ecards_item {
  display: flex;
  padding-bottom: 2rem;
  width: 100%; /* Use 100% width for consistent card width */
}

@media (min-width: 56rem) {
  .ecards_item {
    width: 33.3333%;
  }
}

.explorecontainer {
  display: flex;
  justify-content: center;
  height: auto;
}

.img-wrapper, .img-detail {
  position: relative;
  width: 400px;
  height: 400px;
}

.img-wrapper {
  box-shadow: 0 30px 20px -20px rgba(0, 0, 0, 0.8);
  overflow: hidden;
  padding: 20px;
}

.img-detail {
    position: absolute;
    top: 301px; 
    left: 0;
    right: 0; 
    padding: 1.8rem;
    background: white;
    transition: top 0.4s;
    display: flex;
    flex-direction: column; 
    align-items: center; 
  }

.img-detail .content {
    flex-grow: 1; /* Grow to take available vertical space */
    text-align: center;
}

.img-detail .content button {
    margin-top: 1rem; /* Add some top margin to center the button vertically */
    /* Other button styles */
}

.img-wrapper:hover > .img-detail {
    top: 0;
    transition: top 0.4s;
}

.img-wrapper:hover > .img-detail {
    top: 0;
    transition: top 0.4s;
}

.header {
  display: flex;
}
.right-side {
  margin-left: 20px;
  width:40px;
  height:40px;
}

.footer {
  position: absolute;
  bottom: 0;
  padding-bottom: 1.8rem;
}

.card_btn {
    position: relative;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    padding: 15px 30px;
    font-size: 18px;
    background-color: transparent; 
    color: #ffffff; 
    font-size: 20px;
    border: 1px solid #ffffff;
    transition: all 0.3s; 
}

.ecard_btn {
  position: relative;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  padding: 15px 30px;
  font-size: 18px;
  background-color: transparent; 
  color: #000000; 
  font-size: 20px;
  border: 1px solid #000000;
  transition: all 0.3s; 
}

.card_btn:hover {
    border: 2px solid #008756; 
    color: #008756; 
    background-color: transparent;; 
}

.ecard_btn:hover {
  border: 2px solid #008756; 
  color: #008756; 
  background-color: transparent;; 
}

/* Style the tab buttons */
.tab {
    display: flex;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #41804F; /* Background color for the entire tab container */
    border-radius: 5px; /* Optional: Add rounded corners to the tab container */
}

/* Style the tab buttons */
.tab button {
    flex: 1; /* Distribute the available space equally among tab buttons */
    padding: 10px 20px;
    background-color: transparent; /* Transparent background */
    border: none;
    cursor: pointer;
    color: #fff;
    text-align: center;
    font-size: 16px;
    position: relative;
}

/* Add a divider between the tab buttons */
.tab button::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 1px; /* Width of the divider */
    background-color: #fff; /* Color of the divider */
}

/* Style the last button to remove the divider */
.tab button:last-child::after {
    display: none;
}

/* Add hover effect for the buttons */
.tab button:hover {
    background-color: #103315; /* Background color when hovered */
    transition: background-color 0.3s; /* Smooth transition */
}


