
/* Light Mode */
[data-bs-theme="light"] {
    --bs-body-color: var(--bs-black);
    --bs-body-color-rgb: #{to-rgb($black)};
    --bs-body-bg: var(--bs-white);
    --bs-body-bg-rgb: #{to-rgb($white)};
    --bs-tertiary-bg: #{$blue-600};
    
    .dropdown-menu { 
        background-color: white; 
    }
    
    .darkgreencontainer{
        background-color: #103315;
        color: white;
    }
    .greencontainer{
        background-color: #41804F;
        color: white;
    }
    .lightgreencontainer{
        background-color: #74b9a0;
        color: white;
    }
    .whitecontainer{
        background-color: white;
        color: #103315;
    }
    
    .navbar-top{
        background-color: white;
    }

    .navbar .nav-link{
        color: #000;
    }
    
    .navbar .nav-link:hover{
        color: #41804f;
    }
    
    .nav-top:hover{
        color: #74b9a0;
    }
    
    .nav-link{
        color: white;
    }
    
    .nav-top:focus{
        color: white;
    }
    
    .btn-success-outline{
        color: white;
    }
    .btn-success-outline:hover{
        color: #74b9a0;
    }
    .btn-success-outline:focus{
        color: white;
    }
    .container-payment{
        border: 10px solid;
        background-color: white;
        border-color: #74B9A0;
        border-radius: 1.5rem;
        color: black;
    }
    /* home.html styling */
    /* This style helps the carousel hover colour functionality */
    .hover {
    color: #0000;
    background: 
        linear-gradient(90deg,#41804F 50%,black 0) 
        var(--_p,100%)/200% no-repeat;
    -webkit-background-clip: text;
            background-clip: text;
    transition: .4s;
    }
    .hover:hover {
    --_p: 0%;
    }
    .btn-outline-light {
        color: #0000;
        border-width: 2px;
        font-weight: bold;
        border-color: black;
        background: 
            linear-gradient(90deg,#41804F 50%,black 0) 
            var(--_p,100%)/200% no-repeat;
        -webkit-background-clip: text;
                background-clip: text;
        transition: .4s;
        }
        .btn-outline-light:hover {
        --_p: 0%;
        border: 2px solid #41804F
        }
    /* end home.html styling */

    .main{
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    }

    #News {
    display: none;
    }

    .article {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10px;
    border: 1px solid #41804F;
    margin: 10px;
    height: 100%;
    }

    /* Force all .article containers to have the same height */
    .row {
    display: flex;
    align-items: stretch;
    }

    .image-container {
    width: 400px;
    height: 200px;
    overflow: hidden;
    }

    .image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    }

    .article img {
    max-width: 400px;
    height: auto;
    margin-bottom: 10px;
    }

    .article h5 {
    margin-top:10px;
    font-size: 18px; /* Adjust the font size as needed */
    }

    .article p {
    font-size: 16px; /* Adjust the font size as needed */
    }

    .article .btn {
    background-color: transparent;
    border: 2px solid #41804F;
    color: #41804F;
    padding: 5px 10px; /* Adjust the padding to make it smaller */
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    font-size: 14px; /* Adjust the font size to make it smaller */
    width: auto; /* Allow the button to adjust its width based on content */
    height: auto; /* Allow the button to adjust its height based on content */
    }

    /* Style on hover */
    .article .btn:hover {
    background-color: #41804F;
    color: #fff;
    }

    .center-align {
    text-align: center;
    margin-top:5%;
    }

    .btn-more {
    display: inline-block;
    background-color: transparent;
    border: 2px solid #41804F;
    color: #41804F;
    padding: 5px 10px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    }

    /* Style on hover for the "Click here for more articles" button */
    .btn-more:hover {
    background-color: #41804F;
    color: #fff;
    }


    /* Event Card Styling */
    .ecards {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
    }

    .ecards_item {
    padding-bottom: 2rem;
    width: 100%; /* Use 100% width for consistent card width */
    }


    .eventcontainer {
    display: flex;
    justify-content: center;
    height: auto;
    }

    .img-wrapper, .img-detail {
    position: relative;
    width: 400px;
    height: 400px;
    }

    .img-wrapper {
    box-shadow: 0 30px 20px -20px rgba(0, 0, 0, 0.8);
    overflow: hidden;
    padding-top: 20px;
    }

    .img-detail {
        position: absolute;
        top: 301px; 
        left: 0;
        right: 0; 
        padding: 1.8rem;
        background: white;
        transition: top 0.4s;
        display: flex;
        flex-direction: column; 
        align-items: center; 
    }

    .img-detail .content {
        flex-grow: 1; /* Grow to take available vertical space */
        text-align: center;
    }

    .img-detail .content button {
        margin-top: 1rem; /* Add some top margin to center the button vertically */
        /* Other button styles */
    }

    .img-wrapper:hover > .img-detail {
        top: 0;
        transition: top 0.4s;
    }

    .img-wrapper:hover > .img-detail {
        top: 0;
        transition: top 0.4s;
    }

    .header {
    display: flex;
    }
    .right-side {
    margin-left: 20px;
    width:40px;
    height:40px;
    }

    .footer {
    position: absolute;
    bottom: 0;
    padding-bottom: 1.8rem;
    }

    .card_btn {
        position: relative;
        bottom: 10px;
        left: 50%;
        transform: translateX(-50%);
        padding: 15px 30px;
        font-size: 18px;
        background-color: transparent; 
        color: #ffffff; 
        font-size: 20px;
        border: 1px solid #ffffff;
        transition: all 0.3s; 
    }

    .ecard_btn {
    position: relative;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    padding: 15px 30px;
    font-size: 18px;
    background-color: transparent; 
    color: #000000; 
    font-size: 20px;
    border: 1px solid #000000;
    transition: all 0.3s; 
    }

    .card_btn:hover {
        border: 2px solid #008756; 
        color: #008756; 
        background-color: transparent;; 
    }

    .ecard_btn:hover {
    border: 2px solid #008756; 
    color: #008756; 
    background-color: transparent;; 
    }

    /* Media query for 992px and above */
    @media (min-width: 992px) {
    .ecards_item {
        width: 50%; /* Two columns */
    }
    }

    /* Media query for 575px and below */
    @media (max-width: 575px) {
    .ecards_item {
        width: 100%; /* One column */
    }
    }

    /* Style the tab buttons */
    .tab {
        display: flex;
        width: 100%;
        margin: 0;
        padding: 0;
        background-color: #41804F; /* Background color for the entire tab container */
        border-radius: 5px; 
    }

    /* Style the tab buttons */
    .tab button {
        flex: 1; /* Distribute the available space equally among tab buttons */
        padding: 10px 20px;
        background-color: transparent; /* Transparent background */
        border: none;
        cursor: pointer;
        color: #fff;
        text-align: center;
        font-size: 16px;
        position: relative;
    }

    /* Add a divider between the tab buttons */
    .tab button::after {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        width: 1px; /* Width of the divider */
        background-color: #fff; /* Color of the divider */
    }

    /* Style the last button to remove the divider */
    .tab button:last-child::after {
        display: none;
    }

    /* Add hover effect for the buttons */
    .tab button:hover {
        background-color: #103315; /* Background color when hovered */
        transition: background-color 0.3s; /* Smooth transition */
    }
        }
    /* End Light Mode */



    /* Dark Mode */
    [data-bs-theme="dark"] {
    --bs-body-color: var(--bs-white);
    --bs-body-color-rgb: #{to-rgb($white)};
    --bs-body-bg: var(--bs-darkgreen);
    --bs-body-bg-rgb: #{to-rgb($darkgreen)};
    --bs-tertiary-bg: #{$blue-600};
    
    .dropdown-menu{ 
        background-color: #103315; 
    }
    
    .darkgreencontainer{
        background-color: black;
        color: white;
    }
    .greencontainer{
        background-color: #103315;
        color: white;
    }
    .lightgreencontainer{
        background-color: black;
        color: white;
    }
    .whitecontainer{
        background-color: #121212;
        color: white;
    }
    
    .navbar-top{
        background-color: #121212;
    }
    
    
    .navbar .nav-link{
        color: white;
    }
    
    .navbar .nav-link:hover{
        color: #74b9a0;
    }
    
    .nav-top:hover{
        color: black;
    }
    
    .nav-link{
        color: white;
    }
    
    .nav-top:focus{
        color: white;
    }
    .btn-success-outline{
        color: white;
    }
    .btn-success-outline:hover{
        color: black;
    }
    .btn-success-outline:focus{
        color: white;
    }
    .container-payment{
        border: 10px solid;
        background-color: #505050;
        border-color: black;
        border-radius: 1.5rem;
        color: black;
    }
    
    /*Portion for Sign up & Login */
    .separator::before,
        .separator::after {
            content: '';
            flex: 1;
            border-bottom: 1px solid #ffffff;
        }
        /* home.html styling */
    /* This style helps the carousel hover colour functionality */
    .hover {
        color: #0000;
        background: 
            linear-gradient(90deg,#41804F 50%,white 0) 
            var(--_p,100%)/200% no-repeat;
        -webkit-background-clip: text;
                background-clip: text;
        transition: .4s;
        }
        .hover:hover {
        --_p: 0%;
        }
        .btn-outline-light {
            color: #0000;
            border-width: 2px;
            font-weight: bold;
            border-color: white;
            background: 
                linear-gradient(90deg,#41804F 50%,white 0) 
                var(--_p,100%)/200% no-repeat;
            -webkit-background-clip: text;
                    background-clip: text;
            transition: .4s;
            }
            .btn-outline-light:hover {
            --_p: 0%;
            border: 2px solid #41804F
            }
        /* end home.html styling */    
        .main{
            max-width: 1200px;
            margin: 0 auto;
            padding: 20px;
            }
        
            #News {
            display: none;
            }
        
            .article {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            padding: 10px;
            border: 1px solid #41804F;
            margin: 10px;
            height: 100%;
            }
        
            /* Force all .article containers to have the same height */
            .row {
            display: flex;
            align-items: stretch;
            }
        
            .image-container {
            width: 400px;
            height: 200px;
            overflow: hidden;
            }
        
            .image-container img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            }
        
            .article img {
            max-width: 400px;
            height: auto;
            margin-bottom: 10px;
            }
        
            .article h5 {
            margin-top:10px;
            font-size: 18px; /* Adjust the font size as needed */
            }
        
            .article p {
            font-size: 16px; /* Adjust the font size as needed */
            }
        
            .article .btn {
            background-color: transparent;
            border: 2px solid #41804F;
            color: #41804F;
            padding: 5px 10px; /* Adjust the padding to make it smaller */
            text-decoration: none;
            border-radius: 5px;
            font-weight: bold;
            cursor: pointer;
            font-size: 14px; /* Adjust the font size to make it smaller */
            width: auto; /* Allow the button to adjust its width based on content */
            height: auto; /* Allow the button to adjust its height based on content */
            }
        
            /* Style on hover */
            .article .btn:hover {
            background-color: #41804F;
            color: #fff;
            }
        
            .center-align {
            text-align: center;
            margin-top:5%;
            }
        
            .btn-more {
            display: inline-block;
            background-color: transparent;
            border: 2px solid #41804F;
            color: #41804F;
            padding: 5px 10px;
            text-decoration: none;
            border-radius: 5px;
            font-weight: bold;
            cursor: pointer;
            }
        
            /* Style on hover for the "Click here for more articles" button */
            .btn-more:hover {
            background-color: #41804F;
            color: #fff;
            }
        
        
            /* Event Card Styling */
            .ecards {
            display: flex;
            flex-wrap: wrap;
            list-style: none;
            margin: 0;
            padding: 0;
            }
        
            .ecards_item {
            padding-bottom: 2rem;
            width: 100%; /* Use 100% width for consistent card width */
            }
        
        
            .eventcontainer {
            display: flex;
            justify-content: center;
            height: auto;
            }
        
            .img-wrapper, .img-detail {
            position: relative;
            width: 400px;
            height: 400px;
            }
        
            .img-wrapper {
            box-shadow: 0 30px 20px -20px rgba(141, 139, 139, 0.8);
            overflow: hidden;
            padding-top: 20px;
            }
        
            .img-detail {
                position: absolute;
                top: 301px; 
                left: 0;
                right: 0; 
                padding: 1.8rem;
                background: rgb(0, 0, 0);
                transition: top 0.4s;
                display: flex;
                flex-direction: column; 
                align-items: center; 
            }
        
            .img-detail .content {
                flex-grow: 1; /* Grow to take available vertical space */
                text-align: center;
            }
        
            .img-detail .content button {
                margin-top: 1rem; /* Add some top margin to center the button vertically */
                /* Other button styles */
            }
        
            .img-wrapper:hover > .img-detail {
                top: 0;
                transition: top 0.4s;
            }
        
            .img-wrapper:hover > .img-detail {
                top: 0;
                transition: top 0.4s;
            }
        
            .header {
            display: flex;
            }
            .right-side {
            margin-left: 20px;
            width:40px;
            height:40px;
            }
        
            .footer {
            position: absolute;
            bottom: 0;
            padding-bottom: 1.8rem;
            }
        
            .ecard_btn {
            position: relative;
            bottom: 10px;
            left: 50%;
            transform: translateX(-50%);
            padding: 15px 30px;
            font-size: 18px;
            background-color: transparent; 
            color: #ffffff; 
            font-size: 20px;
            border: 1px solid #ffffff;
            transition: all 0.3s; 
            }
        
            .card_btn:hover {
                border: 2px solid #008756; 
                color: #008756; 
                background-color: transparent;; 
            }
        
            .ecard_btn:hover {
            border: 2px solid #008756; 
            color: #008756; 
            background-color: transparent;; 
            }
        
            /* Media query for 992px and above */
            @media (min-width: 992px) {
            .ecards_item {
                width: 50%; /* Two columns */
            }
            }
        
            /* Media query for 575px and below */
            @media (max-width: 575px) {
            .ecards_item {
                width: 100%; /* One column */
            }
            }
        
            /* Style the tab buttons */
            .tab {
                display: flex;
                width: 100%;
                margin: 0;
                padding: 0;
                background-color: #41804F; /* Background color for the entire tab container */
                border-radius: 5px; 
            }
        
            /* Style the tab buttons */
            .tab button {
                flex: 1; /* Distribute the available space equally among tab buttons */
                padding: 10px 20px;
                background-color: transparent; /* Transparent background */
                border: none;
                cursor: pointer;
                color: #fff;
                text-align: center;
                font-size: 16px;
                position: relative;
            }
        
            /* Add a divider between the tab buttons */
            .tab button::after {
                content: '';
                position: absolute;
                top: 0;
                bottom: 0;
                right: 0;
                width: 1px; /* Width of the divider */
                background-color: #fff; /* Color of the divider */
            }
        
            /* Style the last button to remove the divider */
            .tab button:last-child::after {
                display: none;
            }
        
            /* Add hover effect for the buttons */
            .tab button:hover {
                background-color: #103315; /* Background color when hovered */
                transition: background-color 0.3s; /* Smooth transition */
            }
    }
    /* End Dark Mode */

/* Featurettes */
.featurette-divider {
    margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
/* rtl:begin:remove */

.featurette-heading {
    letter-spacing: -.05rem;
}
/* End Featurettes */

img{
    border-radius: 15px;
}