<!DOCTYPE html>
<html>
<head>
    <title>Sustainability Quiz</title>
    <link rel="stylesheet" type="text/css" href="quiz.css">
</head>
<body>
    <div id="quiz">
        <h1>Sustainability Quiz</h1>
        <div id="question-container">
            <p id="question">{{ currentQuestion.question }}</p>
            <form id="answer-form">
                <label v-for="(answer, key) in currentQuestion.answers">
                    <input type="radio" name="choice" v-bind:value="key" v-model="selectedAnswer">
                    {{ key }} {{ answer }}
                </label>
            </form>
        </div>
        <button v-if="currentQuestionIndex < questions.length - 1" @click="nextQuestion">Next</button>
        <button v-else @click="endQuiz">End Quiz</button>
        <p id="score" style="display: none;">Your Score: {{ score }} out of {{ questions.length }}</p>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="quiz.js"></script>
</body>
</html>
